<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.moneypal">

    <uses-permission android:name="android.permission.READ_SMS"/>

    <application
            android:allowBackup="true"
            android:appComponentFactory="androidx"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:replace="android:appComponentFactory">
        <activity android:name=".CreerObjectifActivity">
        </activity>

        <meta-data
                android:name="com.hover.ApiKey"
                android:value="422af35e93b77dc4871d16d5a44c41f3"/>

        <activity android:name=".TransactionsActivity">
        </activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SignInActivity">
        </activity>
        <activity
                android:name=".MoneyPalActivity"
                android:label="@string/title_activity_money_pal"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".MainActivity">

        </activity>

        <receiver android:name=".broadcast.SmsReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>